<div class="" ng-controller="TypingCtrl">
  <div class="panel-heading">
    <strong>
      <span class="glyphicon glyphicon-th"></span> Tipificaciónes</strong>
      <div class="btn-group btn-group-lg pull-right" role="group" ng-repeat="type in getTypes | filter:{'skillsId': typing.skillsId }:true">
        <button type="button" class="btn btn-default" ng-if="$index == 0" ng-click="CreateTyping()"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <!--<ul ng-repeat="type in getTypes | filter:{'skillsId': typing.skillsId }:true" class="list-group">-->
      <ul ng-repeat="type in getTypes | filter:{'skillsId': typing.skillsId }:true" class="list-group">
        <li class="list-group-item">
          <span class="badge">{{type.skillTipologiasId}}</span> {{type.tipologia}}</li>
      </ul>
    </div>
    <div class="col-md-10">

    </div>
  </div>
<script type="text/ng-template" id="ModalCreate.html">
  <div class="modal-header">
    <h3 class="modal-title">Agregar Típologia</h3>
  </div>
  <div class="modal-body">

    <form name="businessForm" novalidate>
      <div class="form-group">
        <label for="user">Tipologia</label>
        <input type="text" class="form-control" ng-model="addLine.Linea" required>
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" ng-model="addLine.Activo" value="1" checked> Activo
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="addLine.Activo" value="0" checked> Inactivo
          </label>
        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" ng-disabled="businessForm.$invalid" ng-click="AddBusiness()">Agregar</button>
    </form>

  </div>
</script>
</div>
