<div class="page" ng-controller="TypingCtrl">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="pull-left">
        <button ui-sref=".lines" class="btn btn-default glyphicon glyphicon-chevron-left"></button>
      </div>
      <div class="page-header text-center">
        <h2>Tipificaciónes</h2>
        <div id="status-buttons" class="text-center">
          <a ui-sref-active="active" ui-sref=".lines">
            <span>1</span> 1
          </a>
          <a ui-sref-active="active" ui-sref=".clients">
            <span>2</span> 2
          </a>
          <a ui-sref-active="active" ui-sref=".services">
            <span>3</span> 3
          </a>
          <a ui-sref-active="active" ui-sref=".channels">
            <span>4</span> 4
          </a>
          <a ui-sref-active="active" ui-sref=".skills">
            <span>5</span> 5
          </a>
          <a ui-sref-active="active" ui-sref=".trees">
            <span>6</span> 6
          </a>
        </div>
      </div>
      <!-- Breadcrumbs -->
      <ol class="breadcrumb">
          <li><a href="javascript:;" ui-sref=".lines">{{typing.linea}}</a></li>
          <li><a href="javascript:;" ui-sref=".clients">{{typing.cliente}}</a></li>
          <li><a href="javascript:;" ui-sref=".services">{{typing.servicio}}</a></li>
          <li><a href="javascript:;" ui-sref=".channels">{{typing.canal}}</a></li>
          <li><a href="javascript:;" ui-sref=".skills">{{typing.skill}}</a></li>
          <li><a href="javascript:;"></a></li>
      </ol>
      <!-- end Breadcrumbs -->

      <div id="multi-form">
        <div id="form-views" ui-view></div>
      </div>

    </div>
  </div>
</div>
