<header class="clearfix">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Logo -->
  <div class="logo">
    <a href="#/dashboard">
      <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
      <span>{{main.brand}}</span>
    </a>
  </div>

  <!-- needs to be put after logo to make it working-->
  <div class="menu-button" toggle-off-canvas>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li>
        <a href="header.html#/" data-toggle-min-nav class="toggle-min"><i class="fa fa-bars"></i></a>
      </li>
      <li class="dropdown text-normal nav-profile" dropdown is-open="status.isopenProfile">
        <a href="javascript:;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          <img src="http://iarouse.com/dist-square/v1.6/views/images/g1.jpg" alt="" class="img-circle img30_30">
          <span class="hidden-xs">
            <span data-i18n="{{main.name}}"></span>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-dark with-arrow">
          <li>
            <a href="header.html#/pages/profile">
              <i class="fa fa-user"></i>
              <span data-i18n="Mi Perfil"></span>
            </a>
          </li>
          <li>
            <a href="header.html#/tasks">
              <i class="fa fa-check"></i>
              <span data-i18n="Mis Tareas"></span>
            </a>
          </li>
          <li>
            <a href="header.html#/pages/lock-screen">
              <i class="fa fa-lock"></i>
              <span data-i18n="Lock"></span>
            </a>
          </li>
          <li>
            <a href="#/pages/signin">
              <i class="fa fa-sign-out"></i>
              <span data-i18n="Cerrar Session"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav-right pull-right list-unstyled">
      <li class="dropdown" dropdown is-open="status.isopenBell">
        <a href="javascript:;" class="dropdown-toggle bg-success" dropdown-toggle ng-disabled="disabled">
          <i class="fa fa-bell-o nav-icon"></i>
          <span class="badge badge-info">3</span>
        </a>
        <div class="dropdown-menu pull-right with-arrow panel panel-default">
          <div class="panel-heading">
            notifications
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                  <span class="square-icon sm bg-success"><i class="fa fa-bell-o"></i>
                  </span>
                </span>
                <div class="media-body">
                  <span class="block">Lorem Ipsum Doll</span>
                  <span class="text-muted block">2min ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                  <span class="square-icon sm bg-info"><i class="fa fa-bell-o"></i>
                  </span>
                </span>
                <div class="media-body">
                  <span class="block">Lorem Ipsum Doll</span>
                  <span class="text-muted">3 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="media-left media-icon">
                  <span class="square-icon sm bg-danger"><i class="fa fa-bell-o"></i>
                  </span>
                </span>
                <div class="media-body">
                  <span class="block">Lorem Ipsum Doll</span>
                  <span class="text-muted">9 hours ago</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer">
            <a href="javascript:;">Show all notifications.</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</header>
