<div id="nav-wrapper">
  <ul id="nav" data-ng-controller="NavCtrl" data-slim-scroll data-collapse-nav data-highlight-active>
    <li>
      <a href="#/dashboard">
        <i class="fa fa-dashboard"></i>
        <span data-i18n="Dashboard"></span>
      </a>
    </li>
    <li>
      <a href="#/catalogs">
        <i class="glyphicon glyphicon-folder-open"></i>
        <span data-i18n="Catalogos"></span>
      </a>
      <ul>
        <li><a href="#/catalogs/users"><i class="fa fa-caret-right"></i><span data-i18n="Usuarios"></span></a></li>
        <li><a href="#/catalogs/services"><i class="fa fa-caret-right"></i><span data-i18n="Servicios"></span></a></li>
        <li><a href="#/catalogs/centers"><i class="fa fa-caret-right"></i><span data-i18n="Centros"></span></a></li>
        <li><a href="#/catalogs/channels"><i class="fa fa-caret-right"></i><span data-i18n="Canales"></span></a></li>
      </ul>
    </li>
    <li>
      <a href="#/reports"><i class="glyphicon glyphicon-list-alt"></i><span data-i18n="Reportes"></span></a>
      <ul>
        <li><a href="#/reports"><i class="fa fa-caret-right"></i><span data-i18n="Efectividad Hora"></span></a></li>
        <li><a href="#/reports"><i class="fa fa-caret-right"></i><span data-i18n="Efectividad Agente"></span></a></li>
      </ul>
    </li>
    <li>
      <a href="#/polls"><i class="glyphicon glyphicon-th-list"></i><span data-i18n="Encuestas"></span></a>
      <ul>
        <li>
          <a href="#/polls"><i class="fa fa-caret-right"></i><span data-i18n="Preguntas"></span></a>
        </li>
        <li>
          <a href="#/polls"><i class="fa fa-caret-right"></i><span data-i18n="Respuestas"></span></a>
        </li>
      </ul>
    </li>
    <!--
    <li>
      <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-i18n="Pages"></span></a>
      <ul>
        <li>
          <a href="#/pages/signin"><i class="fa fa-caret-right"></i><span data-i18n="LogIn"></span></a>
        </li>
        <li>
          <a href="#/signin"><i class="fa fa-caret-right"></i><span data-i18n="Sign In"></span></a>
        </li>
      </ul>
    </li>
    -->
  </ul>
</div>
