<div class="page" ng-controller="ProfilesCtrl">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> Perfiles</strong>
    </div>
    <div class="panel-body">
      <div class="grid-structure">
          <div class="row">
              <div class="col-md-4">
                <div class="widget-container">
                  <label for="Rol">Filtrar Activos:</label>
                  <select class="form-control" ng-model="search.activo">
                    <option value="">Todos</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget-container">
                  <div class="form-group">
                    <label for="Rol">Filtrar Perfil:</label>
                    <input type="text" class="form-control" ng-model="search.perfil" placeholder="Nombre">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="widget-container">

                  </div>
              </div>
          </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="btn-group btn-group-lg pull-right" role="group">
          <button type="button" class="btn btn-default" ng-click="CreateProfile()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Perfil</th>
            <th>Descripcion</th>
            <th>Activo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="profile in getProfiles | filter:search" class="animate-repeat">
            <td>{{profile.perfilesId}}</td>
            <td>{{profile.perfil}}</td>
            <td>{{profile.descripcion}}</td>
            <td>{{profile.activo}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Edit">
                <button type="button" class="btn btn-default" ng-click="openedit(profile.perfilesId, profile.perfil, profile.descripcion, profile.activo)"><span class="glyphicon glyphicon-edit"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <script type="text/ng-template" id="ModalCreate.html">
      <div class="modal-header">
          <h3 class="modal-title">Crear Perfil</h3>
      </div>
      <div class="modal-body">

        <form name="profileForm" novalidate>
          <div class="form-group">
            <label for="Perfil">Perfil</label>
            <input type="text" class="form-control" ng-model="addProfile.Perfil" placeholder="Perfil" required>
          </div>
          <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <textarea class="form-control" ng-model="addProfile.Descripcion" placeholder="Descripcion" required></textarea>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="addProfile.Activo" value="1" checked> Activo
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="addProfile.Activo" value="0"> Inactivo
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="profileForm.$invalid"  ng-click="AddProf()">Agregar Perfil</button>
        </form>

      </div>
  </script>
  <script type="text/ng-template" id="ModalProfileEdit.html">
      <div class="modal-header">
        <h3 class="modal-title">Editar Perfil</h3>
      </div>
      <div class="modal-body">

        <form name="profileForm" novalidate>
          <div class="form-group">
            <label for="Perfil">Perfil</label>
            <input type="text" class="form-control" ng-model="EditPro.Perfil" placeholder="Perfil">
          </div>
          <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <textarea class="form-control" ng-model="EditPro.Descripcion" placeholder="Descripcion"></textarea>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="EditPro.Activo" value="1" checked> Activo
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="EditPro.Activo" value="0"> Inactivo
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="profileForm.$invalid"  ng-click="EditProfile()">Editar</button>
          <button class="btn btn-danger btn-lg btn-block" ng-click="CloseProfile()">Cancelar</button>
        </form>

      </div>
  </script>
</div>
