<div class="page" ng-controller="TypingCtrl">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header text-center">
        <h2>Tipificaciones</h2>
        {{getLN}}
        <div id="status-buttons" class="text-center">
          <a ui-sref-active="active" ui-sref=".lines">
            <span>1</span> 1
          </a>
          <a ui-sref-active="active" ui-sref=".customers">
            <span>2</span> 2
          </a>
          <a ui-sref-active="active" ui-sref=".services">
            <span>3</span> 3
          </a>
        </div>
      </div>

      <div id="signup-form" ng-submit="processForm()">
        <div id="form-views" ui-view></div>
      </div>

    </div>
  </div>
</div>
