<div class="page" ng-controller="TypingCtrl">
  <div class="panel panel-default">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Tipificaciones</strong></div>
      <div class="panel-body">
        <div class="grid-structure">
          <div class="row">
              <div class="col-md-6">
                  <div class="widget-container">

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="widget-container">
                  
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
