<div class="page" ng-controller="TypingCtrl">
  <div class="panel panel-default">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Tipificaciones</strong></div>
      <div class="panel-body">
        <div class="grid-structure">
          <div class="row">
              <div class="col-md-6">
                  <div class="widget-container">
                    <pre>{{listAtentoClients}}</pre>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="widget-container">
                      <h3>Tipificaciones Arbol<h3>
                      <hr>
                      <!-- as a Dom element -->
                      <treecontrol class="tree-classic"
                         tree-model="dataForTheTree"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         selected-node="node1">
                         Cliente: {{node.cliente}}
                      </treecontrol>
                      <!-- as an attribute -->
                      <!--
                      <div treecontrol class="tree-classic"
                         tree-model="listAtentoClients"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         selected-node="node1">
                         employee: {{node.cliente}} age {{node.cliente}}
                      </div>
                      -->
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
