<div class="page" ng-controller="UsersCtrl">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span> Usuarios</strong>
    </div>
    <div class="panel-body">
        <div class="grid-structure">
            <div class="row">
                <div class="col-md-4">
                  <div class="widget-container">
                    <label for="Rol">Filtrar por Activos:</label>
                    <select class="form-control" ng-model="search.activo">
                      <option value="">Todos</option>
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="widget-container">
                    <div class="form-group">
                      <label for="Rol">Filtrar por Perfil:</label>
                      <input type="text" class="form-control" ng-model="search.perfil">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="widget-container">
                    <div class="form-group">
                      <label for="Rol">Filtrar por Servicio:</label>
                      <input type="text" class="form-control" ng-model="search.servicio">
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="btn-group btn-group-lg pull-right" role="group">
          <button type="button" class="btn btn-default" ng-click="CreateUser()"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span></button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Perfil</th>
              <th>Nombre</th>
              <th>Usuarios</th>
              <th>Password</th>
              <th>Sexo</th>
              <th>Servicio</th>
              <th>Activo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usersList in getUsers | filter:search" class="animate-repeat">
              <td>{{usersList.usuariosId}}</td>
              <td>{{usersList.perfilesId}} - {{usersList.perfil}}</td>
              <td>{{usersList.nombres}}  {{usersList.apellidos}}</td>
              <td>{{usersList.usuario}}</td>
              <td>{{usersList.password}}</td>
              <td>{{usersList.sexo}}</td>
              <td>{{usersList.servicio}}</td>
              <td>{{usersList.activo}}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Edit">
                  <button type="button" class="btn btn-default" ng-click="openedit(usersList.usuariosId, usersList.perfilesId, usersList.perfil, usersList.nombres, usersList.apellidos, usersList.usuario, usersList.password, usersList.sexo, usersList.servicio, usersList.activo)"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </section>
  <script type="text/ng-template" id="ModalCreate.html">
      <div class="modal-header">
          <h3 class="modal-title">Crear Usuario</h3>
      </div>
      <div class="modal-body">
        <form name="userForm" novalidate>

          <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" ng-model="parameters.Nombre" placeholder="Nombre" required>
            <p ng-show="userForm.Nombre.$invalid && !userForm.Nombre.$pristine" class="help-block">Se requiere un Nombre</p>
          </div>

          <div class="form-group">
            <label for="Apellidos">Apellidos</label>
            <input type="text" class="form-control" ng-model="parameters.Apellidos" placeholder="Apellidos" required>
            <p ng-show="userForm.Apellidos.$invalid && !userForm.Apellidos.$pristine" class="help-block">Se requiere los Apellidos</p>
          </div>

          <div class="form-group">
            <label for="Sexo">Sexo</label>
            <br />
            <label class="radio-inline">
              <input type="radio" ng-model="parameters.Sexo" value="M">Masculino
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="parameters.Sexo" value="F">Femenino
            </label>
          </div>

          <div class="form-group">
            <label for="user">Usuario</label>
            <input type="text" class="form-control" ng-model="parameters.Usuario" placeholder="Usuario" required>
          </div>

          <!--
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ng-model="parameters.Password" placeholder="Password" required>
          </div>
          -->

          <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && userForm.Password.$dirty &&!userForm.Password.$pristine, 'has-summer': userForm.Password.$valid }">
            <input type="password" name="Password" class="form-control input-lg" ng-model="parameters.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
            <span ng-show="userForm.Password.$error.required && userForm.Password.$dirty">Se requiere su password</span>
            <span ng-show="!userForm.Password.$error.required && (userForm.Password.$error.minlength || userForm.Password.$error.maxlength) && userForm.Password.$dirty">Las contraseñas deben tener entre 8 y 20 caracteres.</span>
            <span ng-show="!userForm.Password.$error.required && !userForm.Password.$error.minlength && !userForm.Password.$error.maxlength && userForm.Password.$error.pattern && userForm.Password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
          </div>

          <div class="form-group">
            <label for="Rol">Rol</label>
            <select class="form-control" ng-model="parameters.PerfilId" required>
              <option ng-repeat="rol in roloptions" value="{{rol.value}}"> {{rol.name}} </option>
            </select>
          </div>

          <div class="form-group">
            <label for="Activo">Status</label>
            <div class="radio">
              <label>
                <input type="radio" ng-model="parameters.Activo" value="1" checked> Activo
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="parameters.Activo" value="0"> Inactivo
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid"  ng-click="AddUsers()">Crear</button>
        </form>
      </div>
  </script>

  <script type="text/ng-template" id="ModalEdit.html">
      <div class="modal-header">
          <h3 class="modal-title">Editar Usuario</h3>
      </div>
      <div class="modal-body">

          <form>
            <div class="form-group">
              <label for="Nombre">Nombre</label>
              <input type="text" class="form-control" ng-model="parameters.Nombre">
            </div>

            <div class="form-group">
              <label for="Apellidos">Apellidos</label>
              <input type="text" class="form-control" ng-model="parameters.Apellidos">
            </div>

            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" ng-model="parameters.Sexo" value="M">Masculino
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="parameters.Sexo" value="F">Femenino
              </label>
            </div>

            <div class="form-group">
              <label for="user">Usuario</label>
              <input type="text" class="form-control" ng-model="parameters.Usuario" placeholder="Usuario">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" ng-model="parameters.Password" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="Rol">Rol</label>
              <select class="form-control" ng-model="parameters.PerfilId">
                <option ng-repeat="rol in roloptions" value="{{rol.value}}"> {{rol.name}} </option>
              </select>
            </div>

            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="parameters.Activo" value="1"> Activo
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="parameters.Activo" value="0"> Inactivo
                </label>
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" ng-click="EditUser()">Editar</button>
            <button class="btn btn-danger btn-lg btn-block" ng-click="CloseUser()">Cancelar</button>
          </form>
      </div>
  </script>
</div>
