
<div class="page page-grid">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Grid General</strong></div>
        <div class="panel-body">
            <div class="grid-structure">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-container">
                            col-md-12
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <div class="widget-container">
                            col-md-11
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="widget-container">
                            col-md-1
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="widget-container">
                            col-md-10
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget-container">
                            col-md-2
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="widget-container">
                            col-md-9
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget-container">
                            col-md-3
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="widget-container">
                            col-md-8
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget-container">
                            col-md-4
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="widget-container">
                            col-md-7
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="widget-container">
                            col-md-5
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget-container">
                            col-md-6
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="widget-container">
                            col-md-6
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="widget-container">
                            col-md-5
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="widget-container">
                            col-md-7
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget-container">
                            col-md-4
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="widget-container">
                            col-md-8
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget-container">
                            col-md-3
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="widget-container">
                            col-md-9
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="widget-container">
                            col-md-2
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="widget-container">
                            col-md-10
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="widget-container">
                            col-md-1
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="widget-container">
                            col-md-11
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="widget-container">
                            col-md-2
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget-container">
                            col-md-3
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget-container">
                            col-md-4
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget-container">
                            col-md-2
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="widget-container">
                            col-md-1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
