<div class="page" ng-controller="BusinessCtrl">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span> Líneas de Negocio</strong>
    </div>
    <div class="panel-body">
      <div class="grid-structure">
          <div class="row">
              <div class="col-md-4">
                <div class="widget-container">
                  <label for="Rol">Filtrar Activos:</label>
                  <select class="form-control" ng-model="search.activo">
                    <option value="">Todos</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget-container">
                  <div class="form-group">
                    <label for="Rol">Filtrar Linea de Negocio:</label>
                    <input type="text" class="form-control" ng-model="search.linea" placeholder="Nombre">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="widget-container">
                    <div class="form-group">
                      <div class="btn-group btn-group-lg pull-right" role="group">
                        <button type="button" class="btn btn-default" ng-click="CreateBusiness()"><span class="glyphicon glyphicon-plus"></span></button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Linea</th>
            <th>Descripcion</th>
            <th>Activo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="business in getBusiness | filter:search" class="repeat-animation">
            <td>{{business.lineaNegocioId}}</td>
            <td>{{business.linea}}</td>
            <td>{{business.descripcion}}</td>
            <td>{{business.activo}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Edit">
                <button type="button" class="btn btn-default" ng-click="selected(business.lineaNegocioId, business.linea)"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default" ng-click="openedit(business.lineaNegocioId, business.linea, business.descripcion, business.activo)"><span class="glyphicon glyphicon-edit"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </section>
  <script type="text/ng-template" ng-controller="AddLineCtrl" id="ModalCreate.html">
      <div class="modal-header">
        <h3 class="modal-title">Agregar Línea de Negocio</h3>
      </div>
      <div class="modal-body">
        <form name="businessForm" novalidate>
          <div class="form-group">
            <label for="user">Linea</label>
            <input type="text" class="form-control" ng-model="addLine.Linea" required>
          </div>
          <div class="form-group">
            <label for="user">Descripcion</label>
            <textarea class="form-control" ng-model="addLine.Descripcion" required></textarea>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="addLine.Activo" value="1" checked>
                Activo
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="addLine.Activo" value="0" checked>
                Inactivo
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="businessForm.$invalid"  ng-click="AddBusiness()">Agregar</button>
        </form>
      </div>
  </script>
  <script type="text/ng-template" id="ModalEditLines.html">
      <div class="modal-header">
        <h3 class="modal-title">Editar Línea de Negocio</h3>
      </div>
      <div class="modal-body">
        <form name="businessEditForm" novalidate>
          <div class="form-group">
            <label for="user">Linea</label>
            <input type="text" class="form-control" ng-model="EditLine.Linea" placeholder="{{linesdata[0].linea}}">
          </div>
          <div class="form-group">
            <label for="user">Descripcion</label>
            <textarea class="form-control" ng-model="EditLine.Descripcion" placeholder="{{linesdata[0].descripcion}}"></textarea>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" ng-model="EditLine.Activo" value="1" checked>
                Activo
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="EditLine.Activo" value="0" checked>
                Inactivo
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="businessEditForm.$invalid"  ng-click="EditLines()">Editar</button>
          <button class="btn btn-danger btn-lg btn-block" ng-click="CloseLines()">Cancelar</button>
        </form>
      </div>
  </script>
</div>
